# Dart関連
.dart_tool/
.packages
pubspec.lock
*.exe
*.dll
*.so
*.dylib
app_icon_gen

# 出力生成物（ディレクトリ構造のみ保持）
output/*
!output/.gitkeep

# ビルド関連
build/
**/build/

# OS生成ファイル
.DS_Store
Thumbs.db

# エディタ設定
.idea/
.vscode/
*.iml
*.ipr
*.iws

# その他の一時ファイル
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter/Dart/Pub関連
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# デバッグ関連
app.*.symbols
app.*.map.json

# Android Studioのビルド成果物
/android/app/debug
/android/app/profile
/android/app/release

./test-results/
